extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class='img-fluid')
            .col-md-7
                h1=pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat cursus dignissim. Pellentesque feugiat ante eros, non commodo mauris molestie ac. Curabitur vulputate, sem ut egestas vestibulum, metus elit aliquet metus, euismod iaculis ipsum odio at tortor. Quisque ac ultrices diam. Praesent blandit ut magna vel ullamcorper. Curabitur vehicula ullamcorper libero congue feugiat. 

                p Etiam venenatis mi et neque pellentesque maximus. Vestibulum non est vehicula, maximus erat non, interdum odio. Phasellus convallis, velit non elementum imperdiet, tortor mi tincidunt sapien, eget euismod nisl ante nec felis. Proin elementum quis neque id malesuada. Quisque id tortor felis. Aenean neque ligula, interdum vitae risus sed, eleifend accumsan arcu. Pellentesque aliquam.
                
                p Quisque tempor sit amet ligula ullamcorper efficitur. Praesent luctus elit eu nulla porttitor, et maximus felis consequat. Nam iaculis dictum venenatis. Praesent ullamcorper scelerisque nulla vestibulum tincidunt. Pellentesque porttitor felis id gravida viverra. Etiam id fringilla velit, vestibulum finibus ante. Donec purus massa, aliquet vel mi et, consectetur rutrum sapien.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Quisque tempor sit amet ligula ullamcorper efficitur. Praesent luctus elit eu nulla porttitor, et maximus felis consequat. Nam iaculis dictum venenatis. Praesent ullamcorper scelerisque nulla vestibulum tincidunt. Pellentesque porttitor felis id gravida viverra.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destino
                    p Quisque tempor sit amet ligula ullamcorper efficitur. Praesent luctus elit eu nulla porttitor, et maximus felis consequat. Nam iaculis dictum venenatis. Praesent ullamcorper scelerisque nulla vestibulum tincidunt. Pellentesque porttitor felis id gravida viverra.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Quisque tempor sit amet ligula ullamcorper efficitur. Praesent luctus elit eu nulla porttitor, et maximus felis consequat. Nam iaculis dictum venenatis. Praesent ullamcorper scelerisque nulla vestibulum tincidunt. Pellentesque porttitor felis id gravida viverra.