.row.testimoniales
    each testimonio in testimonios
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testimonio.mensaje}
                    footer.blockquote-footer 
                        | #{testimonio.nombre}